
services:
  # TPM Application
  net-core-tpm:
    build:
      context: Tpm/.
      dockerfile: Dockerfile
    image: "net-core-tpm"
    hostname: "net-core-tpm"
    ports:
      - '31044:5005'  # debug port
      - '33306:3306'  # mysql-01 proxy port
      - '28081:8081'  # admin api port
      - '29000:9000'  # proxy port
      - '20080:80'  # tpm port
    depends_on:
      net-core-mysql:
        condition: service_started
  # Frontend
  net-core-http:
    build:
      context: HttpServer/.
      dockerfile: Dockerfile
      args:
        TARG_ARCH: ${TARG_ARCH}
    image: "net-core-http"
    hostname: "net-core-http"
    depends_on:
      net-core-tpm:
        condition: service_healthy
  # Backend
  net-core-rest:
    build:
      context: RestServer/.
      dockerfile: Dockerfile
      args:
        TARG_ARCH: ${TARG_ARCH}
    image: "net-core-rest"
    hostname: "net-core-rest"
    depends_on:
      net-core-tpm:
        condition: service_healthy
  # Real mysql
  net-core-mysql:
    build:
      context: MySQL/.
      dockerfile: Dockerfile
    hostname: "net-core-mysql"
    image: "net-core-mysql"
    restart: always
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '23306:3306'