services:
  java-tpm:
    build:
      context: Tpm/.
      dockerfile: Dockerfile
    image: "java-tpm"
    hostname: "java-tpm"
    depends_on:
      java-mysql:
        condition: service_started
      java-mosquitto:
        condition: service_started
  java-rest:
    build:
      context: RestServer/.
      dockerfile: Dockerfile
    image: "java-rest"
    hostname: "java-rest"
    depends_on:
      java-mysql:
        condition: service_started
      java-tpm:
        condition: service_healthy
      java-mosquitto:
        condition: service_started
  java-quote-generator:
    build:
      context: QuoteGenerator/.
      dockerfile: Dockerfile
    image: "java-quote-generator"
    hostname: "java-quote-generator"
    depends_on:
      java-rest:
        condition: service_healthy
      java-mosquitto:
        condition: service_started
  java-mysql:
    build:
      context: MySQL/.
      dockerfile: Dockerfile
    hostname: "java-mysql"
    image: "java-mysql"
    restart: always
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
  java-mosquitto:
    build:
      context: Mosquitto/.
      dockerfile: Dockerfile
    image: "java-mosquitto"
    hostname: "java-mosquitto"